<%= @teams_data %>

<%= @games.first do |game| %>
  <%= game["homeTeam"] %>
<% end %>

<div class="grid grid-cols-1 gap-2 mb-12 mx-auto w-full ">
    <% @games.each do |game| %>
    <div class="rounded border border-gray-200 p-4 text-center flex flex-col <% if game["homeTeam"] == 'Michigan' %>border-blue-700 bg-slate-100<% end %>">
        <div class="flex flex-row items-center space-x-4 mx-auto">
          <div class="flex items-center">
            <%= image_tag team(game["awayId"])[:logo], class: "h-10 w-10" %>
            <span class="ml-2"><%= team(game["awayId"])[:name] %></span>
          </div>
          <span>at</span>
          <div class="flex items-center">
            <%= image_tag team(game["homeId"])[:logo], class: "h-10 w-10" %>
            <span class="ml-2"><%= team(game["homeId"])[:name] %></span>
          </div>
        </div>
        <div class="flex flex-row text-sm gap-1 text-center items-center mx-auto">
            <div><%= game["startDate"].strftime("%B %d, %Y") %></div>
            <div><% if game["startTimeTBD"].to_s == 'true' %>
                TBD
            <% else %>
                at <%= game["startDate"].strftime("%I:%M %p") %>
            <% end %>
            </div>
            <div>at <%= game["venue"] %></div>
        </div>
    </div>
    <% end %>
</div>